

.loading {

    --size: 60px;
    --brand: #FF3D00;
    --lite:  #2F5390;

    position: fixed;
    overflow: auto;
    
    backdrop-filter: blur(4px);
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-49 {
    width : var(--size);
    height: var(--size);
    display: inline-block;
    position: relative;
    margin-right: 20px;

}

.loader-49::after, .loader-49::before {
    content: '';
    width : var(--size);
    height: var(--size);
    border:2px solid var(--lite);
    position: absolute;
    left:0;
    top: 0;
    animation: rotation 2s ease-in-out infinite alternate;
}

.loader-49::after {
    border-color: var(--brand);
    animation-direction: alternate-reverse;
}

@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    color: white;
    
}

.loadingText {
    font-size: 45px;
}

.authenty {
    font-size: 15px;
}

.hide {
    display: none!important;
}