@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@font-face {
    font-family: 'Bas Relief';
    src: url('BasRelief.ttf') format('truetype');
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.fundo{
    width: 100%;
    height: 100%;
    background-image: url('vecteezy_laser-background-futuristic-horizon-background-technology_6878140_918.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.fundo img{
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    filter: drop-shadow( 0 0 10px #43bffde9);
}

.fundo .span{
    position: absolute;
    top: 32%;
    left: 44%;
    transform: translateX(-50%);
    font-family: 'Bas Relief';
    font-size: 22px;
    /* font-weight: bold; */
    color: #1c2d44;

}

.fundo .span .tax{
    font-weight: bold;
    font-size: 30px;
}