html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.fundo{
    width: 100%;
    height: 100%;
    background-image: url('fundo.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fundo .center img{
    height: 100px;
    
    filter:drop-shadow(0px 0px 5px white);
    opacity: 0.8;
}

.fundo .center span{
    margin: 50px 0px -50px 0;
    font-size: 20px;
}

.aviso{
    position: absolute;
    bottom: 50px;
    right: 10px;
    background-color: #ffffff87;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
}
.aviso span{
    font-size: 12px;
    display: inline-block;
    text-align: justify;
}
.aviso .tax,.tax2{
    font-weight: bold;
}
.aviso .tax{
    color:rgb(16, 47, 106);
}
.aviso .tax2{
    color:rgb(11, 66, 49);
}